@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/App.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

.logout-message {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
