@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes leave-rotate {
  0% {
    opacity: 0;
    transform: rotate(0deg) ;
  }
  100% {
    opacity: 1;
    transform: rotate(var(--angle));
  }
}
@keyframes enter-rotate {
  0% {
   
    opacity: 1;
    transform: rotate(var(--angle)) ;

  }
  100% { opacity: 0;
    transform: rotate(0deg) ;
  }
}

.animate-leave-rotate {
  animation: leave-rotate 1s ease forwards;
}
.animate-enter-rotate{
  animation: enter-rotate 1s ease forwards;
}


/* src/index.css or src/App.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}
@keyframes plusAndMinus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.animate-shake {
  animation: shake 0.5s ease-in-out;
}

.animate-plus {
  animation: plusAndMinus 0.3s ease-in-out;
}
.animate-minus {
  animation: plusAndMinus 0.3s ease-in-out backwards;
}
.logout-message {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
